<div class='user-contents'>
  <div class= "null">
  </div>
  <div class="user-list" >
      <div class="user-image">
       <%= image_tag @user.image.variant(resize: '500x500'), class: "user_top_image" %>
      </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <td class="detail-value"><%= @user.name%></td>
        </tr>
        <tr>
          <td class="detail-value"><%= @user.profile%></td>
        </tr>
      </tbody>
    </table>

    <div class="user__manage"> 
    <%= link_to "編集する", edit_user_registration_path, method: :get,class: :user__btn %> 
    </div> 
  </div>
    <ul class='post-lists'>
      <% @user.posts.each do |post| %>
      <li class='list'>
        <div class='post-img-content'>
          <%= link_to image_tag(post.image.variant(resize: '400x200'), class: "post-img"), post_path(post.id) if post.image.attached? %>
        </div>
      </li>
      <% end %>
    </ul>
</div>