<div class="contents">
  <div class="first-view">
    <img src="assets/backtopga.jpeg" alt="トップ画面" class="top-image">
    <h2></h2>
  </div>
  <div class="setumei">
  <div class="app-setumei">
   <h3 class="second_title">こんな方におすすめ！</h3>
   <div class="second_colum">
      <div class="target">
        <%= image_tag "yugem.png",id:"pass-logo", :size =>'50x50' %> 
        <h4 class="target_text">温泉に行くことが趣味な方</h4>
        <p>行った温泉の写真をSNSに上げて<br>共有したい。<p>
      </div>
      <div class="target">
        <%= image_tag "yugem.png",id:"pass-logo", :size =>'50x50' %> 
        <h4 class="target_text">日帰り温泉・旅館を探している方</h4>
        <p>満足ができる日帰り温泉・旅館<br>に行きたい。<p>
      </div>
      <div class="target">
        <%= image_tag "yugem.png",id:"pass-logo", :size =>'50x50' %> 
        <h4 class="target_text">温泉が好きな方と繋がりたい方</h4>
        <p>趣味の温泉を通して繋がり<br>さらに趣味を充実したい。<p>
      </div>
    </div>
  </div>
  <div class="app-detail">
   <h3 class="second_detail">このアプリの使い方</h3>
   <%# PCサイズ %>
    <div class="possible_colum_1 animation">
      <div class="detail_description">
      <h4 class="possible_text">♨︎行った温泉を投稿</h4>
      <p>行った温泉を投稿しと共有しよう！</p>
      <p>！</p>
      </div>
      <div class="demo_image">
         <%= image_tag "topimage3",id:"desctiption-img",class: 'contents-image'%> 
      </div>
    </div>
    <div class="possible_colum_2 animation">
      <div class="demo_image">
         <%= image_tag "topimage1",id:"desctiption-img",class: 'contents-image'%> 
      </div>
      <div class="detail_description">
      <h4 class="possible_text">♨︎コメント機能でより楽しく</h4>
      <p>ルーム内では、ToDo項目ごとにコメントの投稿が可能！</p>
      <p>それぞれのタスクに対して進捗の報告や相談など、</p>
      <p>顔を合わせなくてもコミュニケーションが取れる！</p>
      <br>
      </div>
    </div>
    <div class="possible_colum_3 animation">
      <div class="detail_description">
      <h4 class="possible_text">♨︎マイページで自分のスケジュールも管理</h4>
      <p>マイページで自分だけのToDoを作成できる！</p>
      <p>もちろん画像も投稿できて、とても便利です！</p>
      <p>複数のスケジュールをアプリ一つでまとめて管理しよう！</p>
      </div>
      <div class="demo_image">
         <%= image_tag "topimage2",id:"desctiption-img",class: 'contents-image'%> 
      </div>
    </div>

    <%# スマホサイズ縦に %>
    <div class="possible_colum_1_smartphone animation">
      <div class="detail_description">
        <h4 class="possible_text">１.ToDoを仲間と共有</h4>
        <p>スケジュールをルーム内の仲間と共有しよう！</p>
        <p>画像も投稿できて便利なこと間違いなし！</p>
        <p>うっかり連絡を忘れても、後から思い出してもこれで安心！</p>
      </div>
      <div class="demo_image">
        <%= image_tag "topimage3",id:"desctiption-img",class: 'contents-image-smartphone'%>
      </div>
    </div>
    <div class="possible_colum_2_smartphone animation">
      <div class="detail_description">
        <h4 class="possible_text">２.コメント機能でより楽しく</h4>
        <p>ルーム内では、ToDo項目ごとにコメントの投稿が可能！</p>
        <p>それぞれのタスクに対して進捗の報告や相談など、</p>
        <p>顔を合わせなくてもコミュニケーションが取れる！</p>
      <br>
      <div class="demo_image">
        <%= image_tag "topimage1",id:"desctiption-img",class: 'contents-image-smartphone'%>
      </div>
      </div>
    </div>
    <div class="possible_colum_3_smartphone animation">
      <div class="detail_description">
        <h4 class="possible_text">３.マイページで自分のスケジュールも管理</h4>
        <p>マイページで自分だけのToDoを作成できる！</p>
        <p>もちろん画像も投稿できて、とても便利です！</p>
        <p>複数のスケジュールをアプリ一つでまとめて管理しよう！</p>
      </div>
      <div class="demo_image">
        <%= image_tag "topimage2",id:"desctiption-img",class: 'contents-image-smartphone'%>
      </div>
    </div>
    <div class="logo-footer">
    <img src="assets/hikitai.png" alt="トップ画面" class="footer-image">
    </div>
  </div>
  </div>
</div>
