<div class="contents">
  <div class="first-view">
     <img src="assets/backtopga.jpeg" alt="トップ画面" class="top-image">
     <h2>いやしである温泉を、日常に。</h2> 
  </div>
  <div class="setumei">
  <div class="app-setumei">
   <h3 class="second_title">♨︎こんな方におすすめ！</h3>
   <div class="second_colum">
      <div class="target">
        <%= image_tag "yugem.png",id:"pass-logo", :size =>'50x50' %> 
        <h4 class="target_text">温泉に行くことが趣味な方</h4>
        <p>行った温泉の写真をSNSに上げて<br>共有したい。<p>
      </div>
      <div class="target">
        <%= image_tag "yugem.png",id:"pass-logo", :size =>'50x50' %> 
        <h4 class="target_text">日帰り温泉・旅館を探している方</h4>
        <p>満足ができる日帰り温泉・旅館<br>に行きたい。<p>
      </div>
      <div class="target">
        <%= image_tag "yugem.png",id:"pass-logo", :size =>'50x50' %> 
        <h4 class="target_text">温泉が好きな方と繋がりたい方</h4>
        <p>趣味の温泉を通して繋がり<br>さらに趣味を充実したい。<p>
      </div>
    </div>
  </div>
  <div class="app-detail">
   <h3 class="second_detail">♨︎このアプリの使い方</h3>
   <%# PCサイズ %>
    <div class="possible_colum_1 animation">
      <div class="detail_description">
      <h4 class="possible_text">♨︎行った温泉を投稿</h4>
      <p>必要事項を入力し、行った温泉を投稿してみよう！</p>
      <p>投稿一覧で投稿は確認できる！</p>
      </div>
      <div class="demo_image">
         <%= image_tag "topimage3",id:"desctiption-img",class: 'contents-image'%> 
      </div>
    </div>
    <div class="possible_colum_2 animation">
      <div class="demo_image">
         <%= image_tag "topimage1",id:"desctiption-img",class: 'contents-image'%> 
      </div>
      <div class="detail_description">
      <h4 class="possible_text">♨︎気になる温泉を検索！</h4>
      <p>投稿一覧から気になる温泉をチェック！</p>
      <p>画像をタップすると、投稿内容を確認しよう！</p>
      </div>
    </div>
    <div class="possible_colum_3 animation">
      <div class="detail_description">
      <h4 class="possible_text">♨︎コメント・いいね機能でより楽しく！</h4>
      <p>気になる温泉にコメント投稿・いいねが可能！</p>
      <p>疑問点・共感をコメント・いいね機能ですることができる！</p>
      </div>
      <div class="demo_image">
         <%= image_tag "topimage2",id:"desctiption-img",class: 'contents-image'%> 
      </div>
    </div>

    <%# スマホサイズ縦に %>
    <div class="possible_colum_1_smartphone animation">
      <div class="detail_description">
      <h4 class="possible_text">♨︎行った温泉を投稿</h4>
      <p>必要事項を入力し、行った温泉を投稿してみよう！</p>
      <p>投稿一覧で投稿は確認できる！</p>
      </div>
      <div class="demo_image">
        <%= image_tag "topimage3",id:"desctiption-img",class: 'contents-image-smartphone'%>
      </div>
    </div>
    <div class="possible_colum_2_smartphone animation">
      <div class="detail_description">
      <h4 class="possible_text">♨︎気になる温泉を検索！</h4>
      <p>投稿一覧から気になる温泉をチェック！</p>
      <p>画像をタップすると、投稿内容を確認しよう！</p>
      <div class="demo_image">
        <%= image_tag "topimage1",id:"desctiption-img",class: 'contents-image-smartphone'%>
      </div>
      </div>
    </div>
    <div class="possible_colum_3_smartphone animation">
      <div class="detail_description">
      <h4 class="possible_text">♨︎コメント・いいね機能でより楽しく！</h4>
      <p>気になる温泉にコメント投稿・いいねが可能！</p>
      <p>疑問点・共感をコメント・いいね機能ですることができる！</p>
      </div>
      <div class="demo_image">
        <%= image_tag "topimage2",id:"desctiption-img",class: 'contents-image-smartphone'%>
      </div>
    </div>
    <div class="logo-footer">
    <img src="assets/hikitai.png" alt="トップ画面" class="footer-image">
    </div>
  </div>
  </div>
</div>
