<div class='post-contents'>
    <div class='null-1'>
    </div>
    <div class="subtitle" >
      <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "温泉を検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
      <% end %>
    </div>
    <div class='post-lists'>
      <% @posts.each do |post| %>
      <div class='list'>
        <%= link_to posts_path(post) do %>
        <div class='post-img-content'>
          <%= link_to image_tag(post.image.variant(resize: '400x200'), class: "post-img"), post_path(post.id) if post.image.attached? %>
        </div>
        <div class='post-info'>
        </div>
        <% end %>
      </div>
      <% end %>
      
      
    </div>
  </div>

</div>
