<!DOCTYPE html>
<html>
  <head>
    <title>OnsenApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <div class="heading">
          <h1>
          <%= link_to 'æ¹¯å·¡ã‚Š', root_path %>
          </h1>
        </div>
          <% if user_signed_in? %>
          <div class="navbar">
            <ul class='nav-lists'>
              <li><%= link_to 'ãƒžã‚¤ãƒšãƒ¼ã‚¸', "#", class: "user-nickname" %></li> 
              <li><%= link_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ', post_path(current_user.id), method: :delete, class: "logout" %></li> 
              <li><%= link_to 'æ–°è¦æŠ•ç¨¿', new_post_path, class: "new-post" %></li>
              <li><%= link_to 'æŠ•ç¨¿ä¸€è¦§', posts_path, class: "post-all" %></li>
              <li><%= link_to 'ðŸ””', "#", class: "post-all" %></li>
          <% else %>
              <li><%= link_to 'ãƒ­ã‚°ã‚¤ãƒ³', new_user_session_path, class: "login" %></li>
              <li><%= link_to 'æ–°è¦ç™»éŒ²', new_user_registration_path, class: "sign-up" %></li>
            </ul>
          </div>
          <% end %>
        </div>
    </header>
    <%= yield %>
  </body>
</html>
