<!DOCTYPE html>
<html>
  <head>
    <title>OnsenApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <div class="heading">
          <h1 class="title">湯めぐる</h1>
        </div>
        <div class="navbar">
          <ul class='nav-lists'>
            <li><%= link_to 'マイページ', "#", class: "user-nickname" %></li> 
            <li><%= link_to 'ログアウト', "#", method: :delete, class: "logout" %></li> 
            <li><%= link_to 'ログイン', "#", class: "login" %></li>
            <li><%= link_to '新規登録', "#", class: "sign-up" %></li>
          </ul>
        </div>
    </header>
    <%= yield %>
  </body>
</html>
