<!DOCTYPE html>
<html>
  <head>
    <title>OnsenApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
   <script>
   $(function() {
      const hum = $('#hamburger, .close')
      const nav = $('.sp-nav')
      hum.on('click', function(){
         nav.toggleClass('toggle');
      });
   });
   </script>
  </head>

  <body>
    <header>
        <div class="heading">
          <%= link_to image_tag('hikitai.png', class: "appname"), root_path %>
        </div>
          
          <div class="navbar">
            <ul class='nav-lists'>
            <% if user_signed_in? %>
              <li><%= link_to current_user.name, user_path(current_user.id), class: "user-nickname" %></li> 
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
              <li><%= link_to '新規投稿', new_post_path, class: "new-post" %></li>
              <li><%= link_to '投稿一覧', posts_path, class: "post-all" %></li>
          <% else %>
              <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
              <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
              <% end %>
            </ul>
          </div>

          
          
          <nav class="sp-nav">
            <ul>
            <% if user_signed_in? %>
              <li><%= link_to current_user.name, user_path(current_user.id), class: "user-nickname" %></li> 
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
              <li><%= link_to '新規投稿', new_post_path, class: "new-post" %></li>
              <li><%= link_to '投稿一覧', posts_path, class: "post-all" %></li>
              <li class="close"><span>閉じる</span></li>
          <% else %>
              <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
              <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
              <li class="close"><span>閉じる</span></li>
              <% end %>
            </ul>
          </nav>
         
           <div id="hamburger">
           <span></span>
           </div>
    </header>
    <%= yield %>
  </body>
</html>
